{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
* Brandfetch plugin for Craft CMS 3.x
*
* Brandfetcher Field Input
*
* @author    Milkshake Studio
* @copyright Copyright (c) 2020 Milkshake Studio
* @link      https://milkshake.studio
* @package   Brandfetch
* @since     0.0.1
*/
#}

{% import "_includes/forms" as forms %}
{# {% do view.registerAssetBundle("craft\\web\\assets\\fields\\FieldsAsset") %} #}


{# {% include "_components/fieldtypes/assets/input" %} #}

{% if not apiSet %}
	<div class="input">
		<p class=" warning">
			Please enter your API key in the plugin settings.
		</p>
	</div>

{% else %}

	<div id="brandfetch-logo">		

		{{forms.elementSelectField({
				id: 'brandfetcher-img-id',
				fieldId:'brandfetcher-img-upload',
				name: name,
				elementType: elementType,
				selectionLabel: "Add Logo",
				limit: 1,
				viewMode:'large',
				elements:(test is defined and test ? [test]),
				modalSettings: {
					hideSidebar: true
				}
			})}}

		<div class="flex" id="brandfetch-empty">
			<div class="flex-grow">
				{{ forms.textField({
						label: 'Fetch URL',
						type:'url',
						id: 'brandfetch-url',
						name: 'brandfetch-url',
						placeholder: 'https://google.com'
					})
				}}
			</div>
			
			<div class="btn add icon  js-get-brandfetch ">Get Logo</div>
		</div>
	</div>

{% endif %}
